.deal-cont button {
    background: #166534;
    color: #fff;
    cursor: pointer;
    margin: 12px 0 12px;
    border: 1px solid #166534;

}

.deal-cont button:hover{
    background: none;
    color: #166534;
}