@import "tailwindcss";




#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width:100%;
}

body{
  width: 100%;
  display: block;
  float: left;
  
}

h2, span {
  font-family: sans-serif;
}



